{% extends 'base.html' %}

{% block content %}
<div class="container">
    <p>I created this project as a way to practice querying an API, storying information from that API in a database, and creating a new API endpoint serving up information from my database. Along the way, I threw in some CSS and bootstrap practice too.</p>
    <p>I used code newbie tweets for the project because I love the code newbie community! If you're interested in contributing to this project, please feel free to fork the repository and make some changes. If you'd like to add your github handle to the lsit of contributors, please add it to the friends page! </p>
</div>

{% endblock %}