{% extends 'base.html' %}

{% block content %}
<div class="row marketing">

    <div class="container">
        <p>
            I created this project as a way to practice querying an API, storing information from that API in a database,
            and creating a new <a href="/api/tweets">API endpoint</a> serving up information from my database.
            Along the way, I also wanted to practice front-end and design skills.
        </p>
        <p>I used code newbie tweets for the project because I love the code newbie community!
            If you're interested in contributing to this project, please feel free to fork the
            repository and make some changes. You can look at existing issues in github for inspiration!
            If you'd like to add your github handle to the list of contributors, please add it to the
            <a href="/friends">friends</a> page and submit that along with your changes and pull request!
        </p>
        <p>This project is built using python and flask. In doing this for the first time, I owe thanks to
            <a href="https://twitter.com/osaetindaniel">@osaetindaniel</a> for
            <a href="https://danidee10.github.io/2016/10/05/flask-by-example-5.html">this</a> excellent blog post.
            If you're eager to get started but not sure where to start you may find it useful to peruse the
            <a href="http://flask.pocoo.org/docs/0.12/"> Flask documentation</a> or this guide on how to submit a
            <a href="https://help.github.com/articles/creating-a-pull-request/">pull request.</a>
            If you are new to GitHub and the open source community, take a look at this quick
            <a href="https://guides.github.com/activities/hello-world/">Hello World exercise</a>.
            It is a straight-forward tutorial that walks you through creating a repository,
            creating a new branch, committing changes, and opening and merging a pull request.
            You can find many other useful introductions and tutorials at
            <a href="https://guides.github.com/">GitHub Guides</a>. These guides will help newcomers
            explore the power and possibilities GitHub provides. And if you start feeling overwhelmed or
            daunted by making your first pull request, check out<a href="http://www.firsttimersonly.com/">First Timers Only</a>. This project aims to make the
                journey to your first contribution a positive experience. Also, there are
                <a href="https://wiki.python.org/moin/BeginnersGuide/Programmers">many</a>
                detailed resources for learning more about Python (including the <a href="https://www.python.org/doc/">documentation</a> of course!).
                But for a quick start to Python, <a href="https://github.com/ehmatthes">Eric Matthes</a>
                maintains a great list of <a href="http://ehmatthes.github.io/pcc/cheatsheets/README.html">cheat
                    sheets</a> that are awesome for beginners and experts alike!
        </p>
        <p>
            One of the best resource for getting started with Flask is <a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world">this</a>
            tutorial series b Miguel Grinberg
        </p>

        <p>
            <a href="https://www.codeschool.com/">Code School</a> has a great FREE mini class called <a href="https://try.github.io/levels/1/challenges/2">Try Git</a>, that they developed with GitHub to introduce people to version control and open source projects.
        </p>

        <p>I found a website which can help beginners in getting started with open source. The website has a collection of other websites and related links to help beginners get started with contributing to their first project. <a href="https://opensource.com/life/16/1/6-beginner-open-source">Click the link to visit the website</a></p>

        <p>
            A good <a href="https://github.com/Roshanjossey/first-contributions">tutorial</a> by Roshanjossey for how to contribute to an open source project on GitHub.
        </p>

        <p> a good <a href="https://www.codetriage.com/"> resource </a> for  how to contribute to an open source project on GitHub. 
        </p> 

    </div>
</div>

{% endblock %}
