{% extends 'base.html' %}

{% block content %}
<div class="row marketing">

    <div class="container">
        <p>I created this project as a way to practice querying an API, storing information from that API in a database, and creating a new <a href="/api/tweets">API endpoint</a> serving up information from my database. Along the way, I also wanted to practice front-end and design skills.</p>
        <p>I used code newbie tweets  for the project because I love the code newbie community! If you're interested in contributing to this project, please feel free to fork the repository and make some changes. You can look at existing issues in github for inspiration! If you'd like to add your github handle to the list of contributors, please add it to the <a href="/friends">friends</a> page and submit that along with your changes your pull request! </p>
        <p>This project is built using python and flask. In doing this for the first time, I owe thanks to <a href="https://twitter.com/osaetindaniel">@osaetindaniel</a> for <a href="https://danidee10.github.io/2016/10/05/flask-by-example-5.html">this</a> excellent blog post. If you're eager to get started but not sure where to start you may find it useful to peruse the <a href="http://flask.pocoo.org/docs/0.12/"> Flask documentation</a> or this guide on how to submit a <a href="https://help.github.com/articles/creating-a-pull-request/">pull request.</a>
    </div>
</div>

{% endblock %}
