<!doctype html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="../static/css/home.css">
            <title>Code Newbie Tweets</title>

<style>
/* Styling for navBar Buttons*/
.nav{border-top:20px solid #F7F7F2;}
</style>
        </head>
        <body>

<div class="container" >
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active">
                    <a href="/">Home</a>
                </li>
                <li role="presentation">
                    <a href="/about">About</a>
                </li>
                <li role="presentation">
                    <a href="/archives">Archives</a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">Code Newbie Tweets</h3>
    </div>

</div>
{% block content%}

{% endblock %}
<div class="container">
    <footer class="footer">
        <p> Made by Ali B Glenesk and <a href="/friends">friends</a>.</p>
    </footer>
</div>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    </body>
    </html>
