<!doctype html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="../static/css/home.css">
            <title>Code Newbie Tweets</title>

<style>
/* Styling for navBar Buttons*/
.nav{border-top:15px solid #F7F7F2;}
</style>
        </head>
        <body>

<div class="container" >
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                {% if request.path == '/' %}
                <li role="presentation" class="active">
                    <a href="/"><i class="fas fa-home"></i>&nbsp;&nbsp;Home</a>
                </li>
                {% else %}
                <li role="presentation">
                    <a href="/"><i class="fas fa-home"></i>&nbsp;&nbsp;Home</a>
                </li>  
                {% endif %}
                {% if request.path == '/about' %}              
                <li role="presentation" class="active">
                    <a href="/about"><i class="fab fa-twitter"></i>&nbsp;&nbsp;About</a>
                </li>
                {% else %}
                <li role="presentation">
                    <a href="/about"><i class="fab fa-twitter"></i>&nbsp;&nbsp;About</a>
                </li>
                {% endif %}
                {% if request.path == '/archives' %}                
                <li role="presentation" class="active">
                    <a href="/archives"><i class="fas fa-archive"></i>&nbsp;&nbsp;Archives</a>
                </li>
                {% else %}
                <li role="presentation">
                    <a href="/archives"><i class="fas fa-archive"></i>&nbsp;&nbsp;Archives</a>
                </li>
                {% endif %}                
            </ul>
        </nav>
        <h3 class="text-muted">Code Newbie Tweets</h3>
    </div>

</div>
{% block content%}

{% endblock %}
<div class="container">
    <footer class="footer">
        <p> Made by Ali B Glenesk and <a href="/friends">friends</a>.</p>
    </footer>
</div>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- <script src="js/bootstrap.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
    </html>
