{% extends 'base.html' %}

{% block content%}
<style>
    table {border-spacing: 5px;}
    td {padding: 10px;}
    th {padding: 10px; text-align: center;}
</style>

<div class="row marketing">
    <div class="container">
        <h4>This project brought to you by:</h4>
        <h5><a href="https://github.com/aligg/Code-Newbie-Tweets/graphs/contributors">These badasses :)</a></h5>

               
        <table border="2"> 
               <tr>
                   <th colspan="3" >Contributors:</th>
               </tr>
                <tr>
                    <th>Name:</th>
                    <th>Email:</th>
                    <th>Github Url:</th>   
                </tr> 
            <tbody>
                <tr>
                    <td>ZeroSkilz</td>
                    <td>ZeroSkilz@mail.com</td>
                    <td>https://github.com/zeroskilz</td>
                </tr>
                <tr>
                    <td>poemusica</td>
                    <td>heatheramahan@gmail.com</td>
                    <td>https://github.com/poemusica</td>
                </tr> 

            </tbody>
        </table>
        <br>
        <img src="https://media.rbl.ms/image?u=%2Ffiles%2F2017%2F01%2F28%2F6362116346404547091260767833_giphy.gif&ho=https%3A%2F%2Faz616578.vo.msecnd.net&s=312&h=2b9e269091889e24e7cea38bf29aa1fbeaf4a5af8bd1c7212d596f0be0833ffb&size=980x&c=3295479180" alt="A cute image">
        <img src="https://i.redd.it/v2h5cbtv8lxz.jpg" alt="A cat standing up">
    </div>
</div>
{% endblock %}
